
{{#jobs}}
  <tr data-job-id="{{id}}">
    <td>
      <a href="{{link}}" class="job-title">{{title}}</a>
      <div class="location">{{location}}</div>
    </td>
    <td>{{published}}</td>
  </tr>
{{/jobs}}
